.symbol-list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 165px;

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0;
    width: 0;
    height: 0;
    background: #f5f4fa;
    border-radius: 4px;
    gap: 30px;
    margin-left: 15px;
    height: auto;
  }

  &__symbol {
    display: flex;
    transform: scale(0.6);
    margin-top: -20px;
    color: #212121;
    margin-left: 30px;
  }
  .symbol-antena {
    transform: scale(0.5);
    margin-top: -15px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .symbol-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0;
    width: 354px;
    height: 120px;

    &__ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-inline-start: 0;
      justify-content: flex-start;
      background: #f5f4fa;
      border-radius: 4px;
      gap: 30px;
      margin-left: 20px;
    }

    &__symbol {
      display: flex;
      transform: scale(0.6);

      color: #212121;
      margin-left: 30px;
    }
    .symbol-antena {
      transform: scale(0.5);
      margin-top: -15px;
    }
  }

  use:hover {
    color: #2196f3;
    cursor: pointer;
  }

  .advantages__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .advantages__item {
    margin-right: 30px;
  }

  .advantages__title {
    font-family: $text-font-family {
      style: normal;
      weight: 700;
      size: 14px;
    }
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
  }

  .advantages__text {
    font-family: $text-font-family {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      width: 270px;
      height: 50px;
      margin-bottom: 94px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .symbol-list {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 120px;
    padding-bottom: 94px;
    background: #f5f4fa;
    border-radius: 4px;
    gap: 30px;

    &__ul {
      height: 60px;
      background: #f5f4fa;
      border-radius: 4px;
      gap: 30px;
      margin-left: 20px;
      margin-bottom: 270px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    &__symbol {
      display: flex;
      transform: scale(0.6);
      margin-left: -10px;
      color: #212121;
      margin-bottom: 0;
    }
  }

  use:hover {
    color: #2196f3;
    cursor: pointer;
  }
  .advantages__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .advantages__item {
    width: 270px;
    height: 120px;
    margin: 0;
    margin-top: -30px;
  }

  .advantages__title {
    font-family: $text-font-family {
      style: normal;
      weight: 700;
      size: 14px;
    }
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
  }

  .advantages__text {
    font-family: $text-font-family {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      width: 270px;
      height: 50px;
      margin-bottom: 94px;
    }
  }
}
